<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="nayan" title="thapatechnical" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to WeatherExpress</p>
                        <h1>I am a <span class="txt_clr">Web Developer</span>, and a Competitive Programmar</h1>
                        <a href="https://www.linkedin.com/in/nayan-hanandy-1a819821a/" target="_thapa"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    {{>footer}}
</body>

</html>